<form (ngSubmit)="onSubmit()" [formGroup]="addClassForm">
  <h1 mat-dialog-title>Add Class</h1>

  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="class_id" placeholder="Enter Class Call #">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="class_name" placeholder="Enter Class Name">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select formControlName="teacher" placeholder="Select Teacher">
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.viewValue">
          {{teacher.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select formControlName="section" placeholder="Select Section">
        <mat-option *ngFor="let section of sections" [value]="section.value">
          {{section.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select formControlName="classroom" placeholder="Select Classroom">
        <mat-option *ngFor="let classroom of classrooms" [value]="classroom.value">
          {{classroom.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select formControlName="days" placeholder="Select Days">
        <mat-option *ngFor="let day of days" [value]="day.value">
          {{day.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <input matInput type="time" formControlName="time" placeholder="Enter Time">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit">Add Class</button>
  </mat-dialog-actions>
</form>
