<form (ngSubmit)="onSubmit()" [formGroup]="editTeacherForm">
  <h1 mat-dialog-title>Add Class</h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="first_name" placeholder="Enter First Name">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="last_name" placeholder="Enter Last Name">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
    <mat-form-field>
      <mat-select formControlName="department" placeholder="Select Department">
        <mat-option *ngFor="let department of departments" [value]="department.viewValue">
          {{department.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit">Edit Class</button>
  </mat-dialog-actions>
</form>
