<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Class Panel admin
      </mat-panel-title>
      <mat-panel-description>
        Select Your Action for Classes
      </mat-panel-description>
    </mat-expansion-panel-header>
      <button type="button" mat-raised-button class="btn btn-lg btn-primary" (click)="openAddDialog()" name="button">Add Class</button>
      <button type="button" mat-raised-button class="btn btn-lg btn-warning" (click)="openEditTable()" name="button">Edit Class</button>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>
