<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Class Panel admin
      </mat-panel-title>
      <mat-panel-description>
        Select Your Action for Classes
      </mat-panel-description>
    </mat-expansion-panel-header>
      <button type="button" mat-raised-button class="btn btn-lg btn-primary" (click)="openAddDialog('class')" name="button">Add Class</button>
      <button type="button" mat-raised-button class="btn btn-lg btn-warning" (click)="openEditTable('class')" name="button">Edit Class</button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Teacher Panel Admin
      </mat-panel-title>
      <mat-panel-description>
        Select Your Action for Teachers
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button type="button" mat-raised-button class="btn btn-lg btn-primary" (click)="openAddDialog('teacher')" name="button">Add Teacher</button>
    <button type="button" mat-raised-button class="btn btn-lg btn-warning" (click)="openEditTable('teacher')" name="button">Edit Teacher</button>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Classroom Panel Admin
      </mat-panel-title>
      <mat-panel-description>
        Select Your Action for Classrooms
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button type="button" mat-raised-button class="btn btn-lg btn-primary" (click)="openAddDialog('classroom')" name="button">Add Classroom</button>
    <button type="button" mat-raised-button class="btn btn-lg btn-warning" (click)="openEditTable('classroom')" name="button">Edit Classroom</button>
  </mat-expansion-panel>
</mat-accordion>
